<html>
    <head>
    <title>Flask app</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>    
   <body>
        <h1>Hi, search person!</h1>
        <h2> Your search for {{ termtosearch }} brought back {{ numofterms }} terms: </h2>
       <div class="bigdiv"> 
       {% for i, t in termsandids %}
       <p class="bigdiv"><span class="term">{{ t }}:</span> {{ i }}; </p>{% endfor %}
       {% if numofterms > 200 %}
        <h3>There are too many terms for one search, so we've split it into two searches for you:</h3>
        {% for s in string %}
         <p><b>Internal Parliamentary Search: </b> <a href=https://search.parliament.uk/search?q={{ s }}>https://search.parliament.uk/search?q={{ s }}</a> <br /><br />
           <b>External Parliamentary Search: </b> <a href=https://search-material.parliament.uk/search?Parameters.Fields.all={{ s }}>https://search-material.parliament.uk/search?q={{ s }}</p>
        {% endfor %}
        {% else %}
       <b>Internal Parliamentary Search: </b> <a href=https://search.parliament.uk/search?q={{ string }}>https://search.parliament.uk/search?q={{ string }}</a> <br /><br />
       <b>External Parliamentary Search: </b><a href=https://search-material.parliament.uk/search?Parameters.Fields.all={{ string }}>https://search-material.parliament.uk/search?q={{ string }}</a> <br /></div>
        {% endif %}
    </body>
</html>
