<html>
    <head>
        <title>Flask app</title>
    </head>    
   <body>
        <h1>Hi, search person!</h1>
        <h2> Your search for {{ termtosearch }} brought back {{ numofterms }} terms: </h2>
        {% for i, t in termsandids %}
       <div><p class="bigdiv">{{ t }}: {{ i }}; {% endfor %}</p>
       {% if numofterms > 200 %}
        <h3>There are too many terms for one search, so we've split it into two searches for you:</h3>
        {% for s in string %}
           <p>  <a href={{ s }}>{{ s }}</a> </p>
        {% endfor %} </div>  
        {% else %}
        <a href={{ string }}>{{ string }}</a> <br /></div>
        {% endif %}
    </body>
</html>
